---
---
// Core variables and mixins
@import "variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
//@import "bootstrap/print";
//@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
//@import "bootstrap/type";
//@import "bootstrap/code";
@import "bootstrap/grid";
//@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

@import "bootstrap/panels";
@import "bootstrap/utilities";

@import "forms";
@import "rsvp";

$footer-height: 3 * $font-size-base;
$footer-padding: 50px;

$navigation-text-colour: #8e8e8e;
$navigation-stroke-colour: #d0d0d0;
$navigation-hovor-text-colour: #f6f6f6;
$navitation-hovor-bg-colour: #484848;
$navigation-space-after: 25px;

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

@-ms-viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

html, body {
	height: 100%;
}

.wrapper {
	@include container-fixed;

	max-width: $container-sm;
	
	/* Setup the fixed footer:
		http://stackoverflow.com/questions/14562457/center-oversized-image-in-div/19414020#19414020 */
	min-height: 100%;
	position: relative;
	margin: 0 auto -5em;
}

.header {
	min-height: 60px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	font-family: 'Italianno', cursive;
	font-size: 55px;

	@media (max-width: $screen-sm-min) {
		font-size: 40px;
	}
	
	@media (max-width: $screen-xs-min) {
		font-size: 28px;
	}
}

.navigation {
	text-align: center;
	text-transform: uppercase;
	color: $navigation-text-colour;
	overflow: hidden;
	font-size: 13px;
	margin-bottom: $navigation-space-after;
	
	ul {
		padding: 0px;
		border-top: 1px solid $navigation-stroke-colour;
		border-bottom: 1px solid $navigation-stroke-colour;
	}

	li {
		display: inline-block;
		padding: 10px 0;

		&:hover, &.active {
			/*	text-decoration: underline;*/
			background-color: $navigation-hovor-text-colour;
			color: $navitation-hovor-bg-colour;		
		}
	}

	a {
		padding: 10px;
		
		&:link, &:visited {
			color: inherit;		
		}
	}	
}

.content {
	padding-bottom: $footer-height + $footer-padding;
	
	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	p + p, h1 + p {
		margin-top: 1em;
	}

	p + h1 {
		margin-top: 0.8em;
	}
}


.footer {
	height: $footer-height;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;

	hr {
		width: 100px;
		background-color: #d0d0d0;
		height: 1px;
		border: 0;
		margin: 7px auto;
	}
}


.welcome-image img {
	width: 100%;
}

/* For Retina displays */
@media
		screen and (-webkit-min-device-pixel-ratio: 2),
		screen and (   min--moz-device-pixel-ratio: 2),
		screen and (     -o-min-device-pixel-ratio: 2/1),
		screen and (        min-device-pixel-ratio: 2),
		screen and (                min-resolution: 192dpi),
		screen and (                min-resolution: 2dppx) { 
    .welcome-image {
        background-size: 740px 401px;
		background-image: url(../images/welcome@2x.jpg);
    }
}
