/** 
 Card flipping
 **/

/*
#offset-container #flip {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background: url(http://jenandjonnie.com/images/flip.png);
    position: absolute;
    right: -58px;
    bottom: -35px;
    width: 94px;
    height: 75px;
}
*/

#offset-container #postcard-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
/*     width: 740px; */
    height: 493px;
/*     margin: auto; */
}

#offset-container #postcard-container:hover #postcard {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#offset-container #postcard-container:hover #postcard #front {
    opacity: 0;
    z-index: 0;
}

#offset-container #postcard-container:hover #postcard #back {
    opacity: 1;
}

#offset-container #postcard-container #postcard {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 740px;
    height: 493px;
    
    /* Horizontal center an element larger than its parent
       http://stackoverflow.com/questions/14562457/center-oversized-image-in-div/19414020#19414020
       (requires parent positioned relative) */
    left: -9999px;
    right: -9999px;
    margin: 0 auto;
    position: absolute;
}

#offset-container #postcard-container #postcard .face {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

#offset-container #postcard-container #postcard #front {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1;
    position: relative;
    z-index: 1;
}

#offset-container #postcard-container #postcard #front .img {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    position: absolute;
    background-repeat: no-repeat;
    width: 740px;
    height: 493px;
//    background: url(http://jenandjonnie.com/images/pa.jpg);
	background: url(../images/card-front.png);
}

#offset-container #postcard-container #postcard #front .img a {
    position: absolute;
    width: 740px;
    height: 493px;
}

#offset-container #postcard-container #postcard #back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background-color: #eee;
    width: 740px;
    height: 493px;
    opacity: 0;
}

#offset-container #postcard-container #postcard #back .img {
    position: absolute;
    background-repeat: no-repeat;
    width: 740px;
    height: 493px;
    opacity: 1;
//    background: url(http://jenandjonnie.com/images/pa-back.jpg);
	background: url(../images/card-back.png);
}


/* For Retina displays */
@media
		screen and (-webkit-min-device-pixel-ratio: 2),
		screen and (   min--moz-device-pixel-ratio: 2),
		screen and (     -o-min-device-pixel-ratio: 2/1),
		screen and (        min-device-pixel-ratio: 2),
		screen and (                min-resolution: 192dpi),
		screen and (                min-resolution: 2dppx) { 
    #offset-container #postcard-container #postcard #front .img {
        background-size: 740px 493px;
		background-image: url(../images/card-front@2x.png);
    }

    #offset-container #postcard-container #postcard #back .img {
        background-size: 740px 493px;
		background-image: url(../images/card-back@2x.png);
    }
}