---
---

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
//@import "bootstrap/print";
//@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
//@import "bootstrap/type";
//@import "bootstrap/code";
@import "bootstrap/grid";
//@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

@import "bootstrap/panels";
@import "bootstrap/utilities";

/* Form validation - Bootstrap overrides */
.has-error .control-label, .has-success .control-label, .has-success .radio {
    color: inherit;
}

.has-error input, .has-error select, .has-error textarea {
    background-color: #F2DEDE;
}

.has-success input, .has-success select, .has-success textarea {
	background-color: #DFF0D8;
}


.wrapper {
	@include container-fixed;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
/* 
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
 */
}

/* 
 TODO: this should really be when *after* a label and before a control
   but I can't remember the selectors
 */
.help-block {
	margin-top: -3px;
	margin-bottom: 5px;
	font-size: 90%;
}

#rsvp-form {
    textarea {
    	resize: vertical;
    }

    .field {
	    @extend .form-group;
    }

    /* Form structure */
    .block {
	    .block-navigation {
    	    button {
    	    	@extend .btn, .btn-info;
    	    }
    	    
    	    .button-prev {
    	    	@extend .pull-left;
    	    }
    	    
    	    .button-next {
    	    	@extend .pull-right;
    	    }
    	    
    	    .button-submit {
    	    	@extend .btn, .btn-success;
    	    	@extend .pull-right;
    	    }
	    }
	}
    
    .block1 .block-fields {
    	@include make-row();
    	
    	.field-firstname, .field-lastname {
    		@include make-xs-column(12);
            @include make-sm-column(6);
    	}
    	
    	.field-email, .field-attending {
    		@include make-xs-column(12);		
    	}
    }
    
    .block2 {
    	.field-guestcount {
    		@extend .form-inline;
    	}
    }
    
    
    /* Form content */
    .guest {
        @extend .panel, .panel-primary;
        clear: both;
        
        .guest-label {
        	@extend .panel-heading;
        	display: block;
        	padding-top: 2px;
        	padding-bottom: 2px;
        }
        
        .guest-fields {
        	@extend .panel-body;
			@include make-row();
        
			.field-guest-title {
				display: none;
			}
		
			.field-guest-first, .field-guest-last {
				@include make-xs-column(12);
				@include make-sm-column(6);
				@include make-md-column(5);
			}
		
			.field-guest-meal {
				@include make-xs-column(12);
				@include make-md-column(2);
			}
		}
    }
}