---
---

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
//@import "bootstrap/print";
//@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
//@import "bootstrap/type";
//@import "bootstrap/code";
@import "bootstrap/grid";
//@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

@import "bootstrap/panels";
@import "bootstrap/utilities";

/* Form validation - Bootstrap overrides */
.has-error .control-label, .has-success .control-label, .has-success .radio {
    color: inherit;
}

.has-error input, .has-error select, .has-error textarea {
    background-color: #F2DEDE;
}

.has-success input, .has-success select, .has-success textarea {
	background-color: #DFF0D8;
}


.wrapper {
	@include container-fixed;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
/* 
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
 */
}

#rsvp-form {
    /* Overrides for screen.css */
    p {
        margin: 0;
    }


    /* Form structure */
    .block {
    	@include make-row();
    	@include make-xs-column(12);
	
	    .block-navigation {
    	    @include make-row();
    	    @include make-xs-column(12);
    	    
    	    button {
    	    	@extend .btn, .btn-info;
    	    }
    	    
    	    .button-prev {
    	    	@extend .pull-left;
    	    }
    	    
    	    .button-next {
    	    	@extend .pull-right;
    	    }
    	    
    	    .button-submit {
    	    	@extend .btn, .btn-success;
    	    	@extend .pull-right;
    	    }
	    }
	}
    
    .field {
	    @extend .form-group;
	    @include make-xs-column(12);
    }
    
    .block1 {
    	.field-firstname, .field-lastname {
    		@include make-xs-column(12);
            @include make-sm-column(6);
            @extend .field;
    	}
    	
/* 
    	.field-email, .field-attending {
    		@include make-xs-column(12);		
    	}
 */
    }
    
    .block2 {
    	.field-guestcount {
    		@include make-row();
    		@extend .form-inline;
    	}
    	
    	.guest-details {
	    	@include make-row();
			@include make-xs-column(12);
		}
    }
    
    
    /* Form content */
    .guest {
        @extend .panel, .panel-primary;
        
        .guest-label {
        	@extend .panel-heading;
        	display: block;
        	padding-top: 2px;
        	padding-bottom: 2px;
        }
        
        .guest-fields {
        	@extend .panel-body;
			@include make-row();
        }
        
        .field-guest-first, .field-guest-last {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(5);
        }
        
        .field-guest-title {
            display: none;
        }
        
        .field-guest-meal {
            @include make-xs-column(12);
            @include make-md-column(2);
        }
    }
}