/* Overrides for screen.css */
.content form p {
	margin: 0;
}


/* Form structure */
.block .block-navigation {
	clear: left;
}


/* Form validation - Bootstrap overrides */
.has-error .control-label, .has-success .control-label, .has-success .radio {
    color: inherit;
}

.has-error input, .has-error select, .has-error textarea {
    background-color: #F2DEDE;
}

.has-success input, .has-success select, .has-success textarea {
	background-color: #DFF0D8;
}


/* Form content */
.guest {
	clear: left;
}

.guest .form-group {
	float: left;
	padding-left: 3px;
	padding-right: 3px;
}

.guest .guest-first, .guest .guest-last {
	width: 40%;
}

.guest .guest-title {
/* 	width: 10%; */
	display: none;
}

.guest .guest-meal {
	width: 20%;
}


