<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noindex" />
  <title>{{ page.title }}</title>
<!--  <meta name="author" content="{{ site.author.name }}" />  -->

<!--  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
  
  {% if page.parsely %}
    <script src="{{ site.baseurl }}/js/jquery-1.11.2.min.js"></script>
    <script src="{{ site.baseurl }}/js/typeahead.jquery.js"></script>
    <script src="{{ site.baseurl }}/js/parsley-2.0.7.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/parsley.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/typeaheadjs.css" type="text/css" />
  {% endif %}

  <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" type="text/css" media="screen, projection" />
  
  {% if page.css %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ page.css }}.css" type="text/css" />
  {% endif %}
  
  {% if page.js %}
    <script src="{{ site.baseurl }}/js/{{ page.js }}.js"></script>
  {% endif %}
  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/postcard.css" type="text/css" />
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4469197-6', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <p>Ruth & Julian — October 3, 2015</p>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="{{ site.baseurl }}/">Welcome</a></li>
	    <li><a href="{{ site.baseurl }}/location.html">Location</a></li>
		<li><a href="{{ site.baseurl }}/travel.html">Travel</a></li>
	    <li><a href="{{ site.baseurl }}/accommodation.html">Accommodation</a></li>
	    <li><a href="{{ site.baseurl }}/save-the-date.html">Save the date</a></li>
      </ul>
    </div>
  	
  	<div class="content">
	    {{ content }}
  	</div>
  	<div class="footer-push"></div>
  </div>
  <div class="footer">
    <hr />
    <p>Can we help? Let us know: <a href="mailto:wedding@fitzell.ca">wedding@fitzell.ca</a>!</p>
  </div>
</body>
</html>
